.zoom{
    display: flex;
    position: absolute;
    top: 70px;
    left: 60px;
    gap: 10px;
}

.zoom button{
    padding: 10px;
    border-radius: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    background-color: lightslategrey;
    color: white;
}

.zoom button:active{
    filter: brightness(0.8);
    background-color: white;
    color: lightslategrey;
}

